// pc first
$breakpoints: (
 'sm': 'screen and (min-width: 576px)',
 'md': 'screen and (min-width: 768px)',
 'lg': 'screen and (min-width: 992px)',
 'xl': 'screen and (min-width: 1200px)'
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// vw
@function vw($width, $px) {

  @return $px / $width * 100vw;
}

// common color
$text-black: #333333;
$blue: #3F51B5;
$red: #E81919;
$bg-gray: #EFEFEF;

// common font-size
$big-fz: 60px;
$middle-fz: 38px;
$small-fz: 16px;

body{
   color: $text-black;
   font-family: YuGothic,'Yu Gothic',sans-serif;
 }

h1 {
  color: red;
}