body {
  color: #333333;
  font-family: 'Futura',YuGothic,'Yu Gothic',sans-serif;
  min-height: 100vh;
  position: relative;
  letter-spacing: 3px;
}

.inner, .header__inner {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .header__name {
    margin-left: 50px;
  }
}

.header__name h1 {
  font-size: 35px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .header__name h1 {
    font-size: 30px;
  }
}

.header__nav {
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .header__nav {
    margin-right: 50px;
  }
}

.header__nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__nav ul li {
  list-style: none;
  margin-right: 30px;
}

.header__nav ul li:last-child {
  margin-right: 0;
}

.header__nav ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 23px;
}

@media screen and (max-width: 1200px) {
  .header__nav ul li a {
    font-size: 18px;
  }
}

.header__nav ul li a:hover {
  color: #aaa;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.works-img {
  margin-top: 200px;
  display: inline-flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .works-img {
    margin-right: 50px;
    margin-left: 50px;
  }
}

.work-img {
  width: calc(20% - 20px * 4 / 5);
  margin-right: 20px;
  margin-top: 20px;
  border: 0.1px solid #000;
}

.work-img:nth-child(5n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .work-img {
    width: calc(33.33333% - 20px * 2 / 3);
  }
  .work-img:nth-child(5n) {
    margin-right: 20px;
  }
  .work-img:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .work-img {
    width: 100%;
    margin-right: 0;
  }
  .work-img:nth-child(5n) {
    margin-right: 0;
  }
}

.work-img a:hover {
  opacity: 0.5;
  transition: 1.0s all ease;
  -webkit-transition: 1.0s all ease;
  -moz-transition: 1.0s all ease;
  -ms-transition: 1.0s all ease;
  -o-transition: 1.0s all ease;
}

.work-img img {
  width: 100%;
  height: 100%;
}
